body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pagination-container {
  display: flex;
  
  align-items: left;
}

.pagination {
  display: flex;

  align-items: left;
  margin: 0;
}

.pagination li {
  margin: 0;
  list-style: none;
}

.pagination li a {
  display: block;
  padding: 0.5rem 1rem;
}
.super-app-theme--header {
  background-color: #71124d;
  color: #fbfbfb;
}
.contactForm{
  margin: 100 10 10 10;
}
